.navbar {
  background-color: #333;
  border: 0;
  border-radius: 0;
}

.brand {
  height: 80px;
}

.brand img {
  height: 50px;
}

.nav li a {
  height: 80px;
}

.link {
  min-width: 80px;
  text-align: center;
}

.icon {
  margin: 0 auto 5px;
  display: block;
  font-size: 25px;
}

.collapseBtn {
  padding-top: 25px;
}

@media (min-width: 768px) {
  .nav {
    margin-left: 30px;
  }
}
